@charset "UTF-8";
/* mixin */
.imagenes {
  max-width: 100%;
  height: auto;
  align-items: center;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
}

/* body */
body {
  background-color: salmon;
  font-size: 16px;
}

main {
  padding: 20px;
}

/* botones de las paginas html */
li {
  list-style: none;
  display: inline-block;
  padding: 0px 5px;
}

/* ESTILO BOTONES HACHETEMELES */

.hachetemeles {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  font-weight: bolder;
  color: salmon;
  background-color: rgb(58, 18, 95);
  border-radius: 50px;
  margin: auto;
}

.hachetemeles:hover {
  background-color: blueviolet;
}




/* LOGO SWEET LEAF */
.logo {
  width: 100px;
  height: auto;
}

/* main */
main {
  text-align: center;
  margin: auto;
}

.imagenes {
  max-width: 100%;
  height: auto;
  align-items: center;
  margin-top: 30px;
}

/* MENU HAMBURGUESA */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  position: sticky;
  top: 0;
}

/* boton de menu */
.navbar-toggler {
  background-color: #fff;
  border: 1px solid burlywood;
  color: #333;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-nav .nav-link {
  margin-inline: 5px;
  color: #fff;
}

.navbar-nav li a {
  font-size: 14px;
}

/* Estilos para pantallas m치s peque침as */
@media (max-width: 683px) {
  .navbar-nav {
    align-items: flex-end;
    flex-direction: column !important;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-nav li {
    width: 50%;
    text-align: center;
    margin-bottom: 5px;
  }
  .navbar-toggler-icon {
    font-size: 10px;
  }
}
/* medias queries */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: row;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  nav li {
    margin: 0;
  }
  .hachetemeles {
    display: block;
    padding: 10px;
    text-align: center;
  }
  main {
    padding: 20px;
  }
  .texto1 {
    text-align: justify;
  }
  .videolacrew {
    width: 100%;
    height: 315px;
  }
  .titulo2 {
    margin-top: 20px;
  }
  .logowp {
    max-width: 50px;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  footer {
    text-align: center;
    padding: 10px;
  }
  .imagenes {
    margin: auto;
    padding: auto;
    align-items: center;
    margin-top: 30px;
  }
}
/* QUERIES INTEGRANTES */
@media screen and (min-width: 941px) and (max-width: 1240px) {
  .integrantes-container {
    justify-content: space-around;
  }
  iframe {
    width: 100%;
    max-width: calc(50% - 20px);
    height: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  iframe:nth-child(2n) {
    margin-right: 0;
  }
  .integrantes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
/* QUERIES BUSCAS PIEZAS */
@media screen and (min-width: 500px) {
  .mapafaction {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=text],
  textarea {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* H1 */
h1, h2 {
  
  margin-top: 10px;
  font-family: Georgia;
  text-align: center;
  text-decoration: underline;
  margin: 20px 0px;
}
/* Footer */
.footer {
 
  text-align: center;
  padding: 10px;
  border-top: 3px solid rgb(60, 75, 44);
}

/* primer parrafo */
.leyenda1 {
  text-align: center;
  
  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

/* Texto quienes somos */
.texto1 {
  text-align: center;
  
  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

/* Texto ejemplo */
.texto2 {
  text-align: center;

  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

/* h2 la crew */
.titulo2 {
  text-align: center;
 
  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

.textofotofinal {

  margin-top: 20px;
  border-top: 2px solid rgb(10, 121, 97);
  border-bottom: 2px solid rgb(10, 121, 97);
}

/* BOTONES DEL BOX */
.botonesbox {
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  background-color: cadetblue;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

/* ESTILO DE BOTONES */
.botonesbox:hover {
  background-color: #cacaca;
  font-weight: bolder;
}

.logowp {
  max-width: 50px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* box de contacto */
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: auto;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(58, 18, 95);
}

input {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: auto;
  display: block;
  padding: 10px;
  border: 5px solid cadetblue;
  border-radius: 5px;
  font-size: 15px;
}

/* BOTONES DEL BOX */
.botonesbox {
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  background-color: cadetblue;
  color: rgb(10, 121, 97);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}
 /*estilo mapa fac */

.mapafaction {
  width: 50%;
  height: 300px;
  margin-bottom: 20px;
}


/* Estilos para el bot칩n de modo oscuro */
#dark-mode-toggle {
  background-color: transparent;
  border: firebrick;
  color: white; /* Color del icono por defecto */ 
}

/* Estilos para el modo oscuro */
[data-bs-theme="dark"] {
  background-color: rgb(62, 28, 3); /* Color de fondo oscuro */
  color: white; /* Color de texto para el modo oscuro */
}

/* Estilos para el modo claro */
[data-bs-theme="light"] {
  background-color: salmon; /* Color de fondo claro */
  color: rgb(10, 121, 97); /* Color de texto para el modo claro */
}

/* Estilo del bot칩n luna/sol */
#dark-mode-toggle {
  color: orange;
}
