@charset "UTF-8";
/* mixin */
.imagenes {
  max-width: 100%;
  height: auto;
  align-items: center;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
}

/* body */
body {
  background-color: salmon;
  font-size: 16px;
}

main {
  padding: 20px;
}

/* botones de las paginas html */
li {
  list-style: none;
  display: inline-block;
  padding: 0px 5px;
}

/* ESTILO BOTONES HACHETEMELES */

.hachetemeles {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  font-weight: bolder;
  color: salmon;
  background-color: rgb(58, 18, 95);
  border-radius: 50px;
  margin: auto;
}

.hachetemeles:hover {
  background-color: blueviolet;
}




/* LOGO SWEET LEAF */
.logo {
  width: 100px;
  height: auto;
}

/* main */
main {
  text-align: center;
  margin: auto;
}

.imagenes {
  max-width: 100%;
  height: auto;
  align-items: center;
  margin-top: 30px;
}

/* MENU HAMBURGUESA */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  position: sticky;
  top: 0;
}

/* boton de menu */
.navbar-toggler {
  background-color: #fff;
  border: 1px solid burlywood;
  color: #333;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-nav .nav-link {
  margin-inline: 5px;
  color: #fff;
}

.navbar-nav li a {
  font-size: 14px;
}


/* H1 */
h1, h2 {
  color: rgb(10, 121, 97);
  margin-top: 10px;
  font-family: Georgia;
  text-align: center;
  text-decoration: underline;
  margin: 20px 0px;
}
/* Footer */
.footer {
 color: rgb(10, 121, 97);;
  text-align: center;
  padding: 10px;
  border-top: 3px solid rgb(60, 75, 44);
}

/* primer parrafo */
.leyenda1 {
  text-align: center;
  color: rgb(10, 121, 97);
  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

/* Texto quienes somos */
.texto1 {
  text-align: center;
  color: rgb(10, 121, 97);
  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

/* Texto ejemplo */
.texto2 {
  text-align: center;
  color: rgb(10, 121, 97);
  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

/* h2 la crew */
.titulo2 {
  text-align: center;
 color: rgb(10, 121, 97);;
  margin: 20px;
  font-family: Georgia;
  text-decoration: none;
  margin-top: 30px;
  margin-inline: 5px;
  margin-left: 44px;
  margin-right: 44px;
  font-weight: bolder;
}

.textofotofinal {
color: rgb(10, 121, 97);;
  margin-top: 20px;
  border-top: 2px solid rgb(10, 121, 97);
  border-bottom: 2px solid rgb(10, 121, 97);
}

/* BOTONES DEL BOX */
.botonesbox {
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  background-color: cadetblue;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

/* ESTILO DE BOTONES */
.botonesbox:hover {
  background-color: #cacaca;
  font-weight: bolder;
}

.logowp {
  max-width: 50px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* box de registro */
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: auto;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(58, 18, 95);
}

input {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: auto;
  display: block;
  padding: 10px;
  border: 5px solid cadetblue;
  border-radius: 5px;
  font-size: 15px;
}

/* BOTONES DEL BOX */
.botonesbox {
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  background-color: cadetblue;
  color: rgb(10, 121, 97);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}
 /*estilo mapa fac */

.mapafaction {
  width: 50%;
  height: 300px;
  margin-bottom: 20px;
}



/* Estilos para el modo oscuro */
[data-bs-theme="dark"] {
  background-color: rgb(44, 44, 44); /* Color de fondo oscuro */
  color: white; /* Color de texto para el modo oscuro */
}

/* Estilos para el modo claro */
[data-bs-theme="light"] {
  background-color: salmon; /* Color de fondo claro */
  color: rgb(10, 121, 97); /* Color de texto para el modo claro */
}

/* Estilo del botón luna/sol */
#dark-mode-toggle {
  color: orange;
}


/* estilo ecommerce merch */


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.merchtheme {
  --clr-main: salmon;
  --clr-main-light: rgb(10, 121, 97);
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #de9c0f;
  
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
  position:absolute;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position:sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/** carrito **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}
/* Estilos para pantallas más pequeñas */
@media (max-width: 683px) {
  .navbar-nav {
    align-items: flex-end;
    flex-direction: column !important;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-nav li {
    width: 50%;
    text-align: center;
    margin-bottom: 5px;
  }
  .navbar-toggler-icon {
    font-size: 10px;
  }
}
/* medias queries */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: row;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  nav li {
    margin: 0;
  }
  .hachetemeles {
    display: block;
    padding: 10px;
    text-align: center;
  }
  main {
    padding: 20px;
  }
  .texto1 {
    text-align: justify;
  }
  .videolacrew {
    width: 100%;
    height: 315px;
  }
  .titulo2 {
    margin-top: 20px;
  }
  .logowp {
    max-width: 50px;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  footer {
    text-align: center;
    padding: 10px;
  }
  .imagenes {
    margin: auto;
    padding: auto;
    align-items: center;
    margin-top: 30px;
  }
}
/* QUERIES INTEGRANTES */
@media screen and (min-width: 941px) and (max-width: 1240px) {
  .integrantes-container {
    justify-content: space-around;
  }
  iframe {
    width: 100%;
    max-width: calc(50% - 20px);
    height: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  iframe:nth-child(2n) {
    margin-right: 0;
  }
  .integrantes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
/* QUERIES BUSCAS PIEZAS */
@media screen and (min-width: 500px) {
  .mapafaction {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  input[type=text],
  textarea {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*** MEDIA QUERIES MERCH ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    
}

@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}