* {
    margin: 0;
    padding: 0;
}

/* body */

body {
    background-color: $color-fondo;
    font-size: 16px;
}

main {
    padding: 20px;
}



/* botones de las paginas html */
li {
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
}


/* ESTILO BOTONES HACHETEMELES */

.hachetemeles {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    font-weight: bolder;
    color: $color-fondo;
    background-color: $color-botones;
    border-radius: 50px;
    margin: auto;
}



.hachetemeles:hover {
    background-color: blueviolet;
}

/* LOGO SWEET LEAF */
.logo {
    width: 100px;
    height: auto;

}

/* main */
 main {
    text-align: center;
    margin: auto;
 }

 .imagenes {
    max-width: 100%;
    height: auto;
    align-items: center;
    margin-top: 30px;
 }

